# --- IDEs ---
.idea/
*.iml
*.iws
*.ipr
.vscode/
.kotlin/
.settings/
.classpath
.project
.factorypath

# --- Build Tools ---
.gradle/
build/
bin/
out/

# --- Artifacts ---
jars/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- Operating System ---
.DS_Store
Thumbs.db
desktop.ini

# --- Servers & Tests ---
run/
logs/
test-results/